
:root{
    --yellow: #fed330;
    --red: #e74c3c;
    --white: #fff;
    --black: #222;
    --light-color:#777;
    --border: .2rem solid var(--black);
}


.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.about .row .image{
    flex: 1 1 40rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex:1 1 40rem;
    text-align: center;
}

.about .row .content h3{
    font-size: 3rem;
    color: var(--black);
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.about .row .content p{
    padding: 1rem 0;
    line-height: 2;
    font-size: 1.6rem;
    color:var(--light-color);
}

.steps .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    align-items: flex-start;
}

.steps .box-container .box{
    text-align: center;
    border: var(--border);
    padding: 2rem;
}

.steps .box-container .box img{
    height: 15rem;
    width: 100%;
    object-fit: contain;
}

.steps .box-container .box h3{
    font-size: 2.3rem;
    margin:1rem 0;
    color: var(--black);
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.steps .box-container .box p{
    line-height: 2;
    font-size: 1.6rem;
    color: var(--light-color); 
}

.reviews .title{
    margin-bottom: -1rem;
}
.reviews .subtitle{
    font-size: 1.6rem;
    color: var(--light-color);
    line-height: 2;
    text-align: center;
    margin-bottom: 2rem;
}

.reviews .slide{
    margin-bottom: 4rem;
    border:var(--border);
    text-align: center;
    padding:2rem;
    height: 30rem;
    overflow-y: auto;
 }

 .reviews .slide::-webkit-scrollbar{
    height: .3rem;
    width: 0.5rem;
}
 
 .reviews .slide img{
    height: 10rem;
    width: 10rem;
    object-fit: contain;
 }
 
 .reviews .slide p{
    padding:1rem 0;
    line-height: 2;
    font-size: 1.6rem;
    color:var(--light-color);
 }
 
 .reviews .slide .stars{
    border: var(--border);
    margin-top: .5rem;
    font-size: 2rem;
    color:var(--yellow);
    display: inline-block;
    padding: 0 .2rem;
 }
 
 .reviews .slide h3{
    font-size: 2rem;
    color:var(--black);
    margin-top: 1.5rem;
 }

@media (max-width:450px){
    .heading h3{
        font-size: 4rem;
    }
}